html, body {
	height: 100%;
}

.main-wrapper {
	width: 600px;
	margin: 0 auto;
	padding: 50px 0;
}

.tab-content .tab-pane {
	padding: 25px 0 0 0;
}

.datepicker-dropdown {
	position: absolute;
	background: #fff;
	border: 1px solid #000;
	border: 1px solid rgba(0,0,0,0.15);
}

.ui-autocomplete {
	position: absolute;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 999;
}
.ui-autocomplete {
	background: #fff;
	border: 1px solid #ccc;
}
.ui-autocomplete .ui-state-focus {
	background: #66AFE9;
	color: #fff;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
	margin: 0;
}

.ui-autocomplete li {
	cursor: pointer;
	padding: 1px 5px;
}


